<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <a class="card-text" href="/post/{{_id}}">{{text}}</p>
            <div class="row text-center">
                {{#each answers}}
                    <div class="col-sm">
                        <a class="btn btn-outline-primary btn-block" href="/post/{{../_id}}/vote/{{@index}}">
                            {{name}}
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
