<main class="content">
    <section id="posts">
        <div class="row">
            <div class="col-sm-6 offset-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-text text-center">{{post.text}}</h4>
                        <div class="results">
                            {{#each post.answers}}
                                <div class="results-bar {{color ../post.answers @index}}-bar" style="width:{{percentage ../post.answers @index}}%;"></div>
                            {{/each}}
                        </div>
                        <div class="space"></div>
                        <div class="space"></div>
                        <div class="space"></div>
                        {{#each post.answers}}
                        <div class="square square-{{color ../post.answers @index}}"></div>
                            {{name}}: {{percentage ../post.answers @index}}% ({{count}} votes)
                            <br>
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
